<div class="card">
  <div class="card-header">
    Add New Property
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">

      <div class="from-group col-12 ">
        <label for="name">Name</label>
        <input type="text" #propName="ngModel" ngModel class="form-control" required minlength="5" name="Name">
        <span *ngIf="!propName.valid && propName.touched" class="error-block">
          <span *ngIf="propName.errors.required ">please provide Name</span>
          <span *ngIf="propName.errors.minlength">length must be more than 5</span>
        </span>
      </div>

      <div class="from-group col-12 mt-2">
        <label for="type">Type</label>
        <input type="text" class="form-control" >
      </div>

      <div class="from-group col-12 mt-2">
        <label for="price">Price</label>
        <input type="text" ngModel class="form-control">
      </div>

      <div class="form-group col-12 mt-2">
        <button type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>

    </form>
  </div>
</div>
